body {
    background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
    padding: 2.5%;
    }
    .img-list {
    list-style: none;
    padding-left: 200px;
    margin: 0;
    }
    .img-list li {
    border: 5px  solid transparent;
    box-sizing: border-box;
    width: 33.33%;
    display: inline;   
    position: relative;
    cursor: pointer;
    
    }
    .img-list li textarea{
        border: solid 5px ;
        background-color:rgb(36, 110, 104);
        text-align: left;
        max-width: 600px;
        max-height: 400px;
    }
    
    
    /* menu lateral
    -------------------------------------------------------------- */
    /* MENU LATERAL */

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-dark: #2d3548;
  }
  .menu li a{
      display:block;
      height:em;
      width:5em;
      text-indent:-500em;
      line-height:5em;
      text-align:center;
      color: #3b6697;
      background: #14aedd;
      position: relative;
      border-bottom: 1px solid #292153;
      transition: background 0.3s ease-in-out;
  }
  .menu li a:before {
    font-family: FontAwesome;
    speak: none;
    text-indent: 0em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.4em;
  }
  .menu li a.search:before {
    content: "\f002";
  }
  .menu li a.imagenes:before {
    content: "\f03e";
  }
  .menu li a.textos:before {
    content: "\f040";
  }
  .menu li a.videos:before {
    content: "\f008";
  }
  .menu li a.perfil:before {
    content: "\f007";
  }
  .menu li a.home:before {
    content: "\f015";
  }
   
  .menu li a:hover{
    background: #0259fa;
    color: #fff;
  }
  .menu li.current a {
    background: #0259fa;
    color: #fff;
  }

  /* indica pagina actual */
  .menu li a.textos {
    background: #0259fa;
    color: #fff;
  }
  .menu li a.textos:after{
      position:absolute;
      left:5em;
      top:0;
      content:"";
      border:2.5em solid transparent;
      border-left-color:#0259fa;
      border-width: 2.5em 1em
  }
  .menu li{
      position:relative;
  }
  .menu li:after{
      content: attr(title);
      position:absolute;
      left:5em;
      top:0;
      height:5em;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      text-transform:uppercase;
      background:#0259fa;
      padding:2em;
      transition: all 0.3s ease-in-out;
      visibility:hidden;
      opacity:0;
  }
  .menu li:hover:after{
      visibility:visible;
      opacity:1; 
  }
  